.monotype {
	font-family: 'Roboto Mono', monospace;
	color: white;
	background-color: black;
	padding-top: 50px;

}
.monotype a {
	color: white;
	text-decoration: none;
}
.indent1 {
margin-left: 5%;
}
.indent2 {
margin-left: 10%;
}
.socialButtons {
	width: 100%;
	max-width: ;
}
.socialButtons > a {
	margin: 5%;
}
.socialButtons > a > svg {
	viewBox: 0 0 60 60;
}
@media screen and (min-width:   500px) {
	.monotype {
		padding-top: 50px;
	}
}