.headHuman {
	text-align: left;
}
.logo{
	z-index: 7;
	width: 15%;
	top: 5px;
	width: 150px;
	position: fixed;
	opacity: 1;
}
.logo{
	left: 20px;
	transition: 1s ease-in-out;
}
.head { 
	position: fixed;
	width: 100%;
   z-index:6; 
   height: 200px;
   padding-top: 20px;
	top: 0px;
	background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,0));
	-webkit-animation-delay: 0s;
    animation-delay: 0s;
	-webkit-animation-name: fadeIn;
    -webkit-animation-duration: 2s;
 	animation-name: fadeIn;
  	animation-duration: 2s;
  	opacity: 1;
}
.head h1 {
	margin-left: 170px;
	max-width: 300px;
}

.center {
	margin-bottom: 50px;
	top: 250px;
   left: 10px;
   right: 10px;
	height: auto;
	padding: none;
	position: absolute;
	-webkit-animation-name: fadeIn;
    -webkit-animation-duration: 1s;
 	animation-name: fadeIn;
  	animation-duration: 1s;
  	visibility: visible;
  	opacity: 1;
   display: flex;
   justify-content: center;
}

@-webkit-keyframes fadeIn { 
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

.hide {
	opacity: 0;
	/*visibility: hidden;*/
	transition: all 0.2s;
}


@media screen and (min-width: 500px){
	.center {
		margin-bottom: 50px;
	}
}
