.hide {
	opacity: 0;
	visibility: hidden;
}
.headHuman {
	text-align: left;
}
.logo{
	left: 30%;
	width: 15%;
	top: 5px;
	width: 150px;
	position: absolute;
	opacity: 1;
	margin-bottom: 0px;
	z-index: -1;
}
.logo{
	left: 20px;
	transition: 1s ease-in-out;
}
.head { 
	position: fixed;
	width: 100%;
	top: 20px;
	-webkit-animation-delay: 0s;
    animation-delay: 0s;
	-webkit-animation-name: fadeIn;
    -webkit-animation-duration: 2s;
 	animation-name: fadeIn;
  	animation-duration: 2s;
  	opacity: 1 !important;
}
.head h1 {
	margin-left: 170px;
	max-width: 300px;
}

@-webkit-keyframes fadeIn { 
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

.center {
	margin-top: 20%;
	margin-left: 30%;
	margin-bottom: 50px;
	width: 50%;
	height: auto;
	padding: none;
	-webkit-animation-name: fadeIn;
    -webkit-animation-duration: 1s;
 	animation-name: fadeIn;
  	animation-duration: 1s;
  	visibility: visible;
  	opacity: 1;
}
.who h2 {
	margin: 0px;
	margin-left: 100px;
	opacity: 0;
}

.who h2 {
	margin-left: 0px;
	opacity: 1;
	-ms-transition: all 3s ease-out;  /* IE10 */
    transition: all 3s ease-out;  
}

.whoCol{
	display: inline-block;
	text-align: box;
	width: 30%;
	max-width: 200px;
	padding: 0 5% 0;
	min-width: 200px;
}

.profileImg {
	height: 150px;
	width: 150px;
	opacity: 0.5;
	top: 25%;
	right: 30%;
	z-index: -1;
	position: absolute;
	background: #e0ffc7 url(./img/cam.jpg) no-repeat;
	background-size: cover;
}

.socialButtons {
	max-width
	color: white;
	text-align: left;
	margin-top: 20px;
	height: 50px;
	text-align: center;
}
.socialButtons a {
	opacity: 0.5;
	height: 100px;
	margin: 5px 10px;
}
.socialButtons a:hover {
	opacity: 1;
	-ms-transition: all 0.2s ease-out; 
	transition: all 0.2s ease-out;
}