.headHuman {
	text-align: left;
}
.logo{
	position: relative;
	width: 15%;
	top: 5px;
	width: 150px;
	height: 100px;
	opacity: 1;
	left: 20px;
	transition: 1s ease-in-out;
}

.head {
	display: flex;
	position: fixed;
	width: 100%;
	z-index:6;
	height: 150px;
	padding-top: 20px;
	top: 0px;
	background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.8), rgba(0,0,0,0.6), rgba(0,0,0,0.3), rgba(0,0,0,0));
	-webkit-animation-delay: 0s;
    animation-delay: 0s;
	-webkit-animation-name: fadeIn;
    -webkit-animation-duration: 2s;
 	animation-name: fadeIn;
  	animation-duration: 2s;
  	opacity: 1;
}
.head h1 {
	margin-left: 40px;
	max-width: 300px;
}

.center {
    margin-bottom: 50px;
	top: 200px;
   left: 0px;
   right: 10px;
	padding: none;
	position: relative;
	-webkit-animation-name: fadeIn;
    -webkit-animation-duration: 1s;
 	animation-name: fadeIn;
  	animation-duration: 1s;
  	visibility: visible;
  	opacity: 1;
   display: flex;
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

.hide {
	opacity: 0;
	/*visibility: hidden;*/
	transition: all 0.2s;
}


@media screen and (min-width: 500px){
	.center {
		top: 250px;
        margin-bottom: 50px;
	}
    .head {
        height: 200px;
    }
}
