.logo {
	width: 200px
}
.logoCenter{
	width: 200px;
}
.landing {
	text-align: center;
}
.landing a {
	text-decoration: none;
	cursor: pointer;
}
.bgLeft{
	width: 100%;
	height: 80%;
	background: black;
	position: absolute;
	opacity: 0.1;
	z-index: -1;
}
.bgRight{
	width: 110%;
	height: 80%;
	left: -20%;
	position: absolute;
	background: #e0ffc7 url(./img/skate.jpg) no-repeat 20%;  
	opacity: 0.1;
	z-index: -1;
}
.nav {
	margin-top: 50px;

}
.nav a {
	min-width: 200px;
	max-width: 500px;
	display: inline-block;
}
.socialButtons {
	margin-top: 50px;
	height: 200px;
	display: inline-block;
	min-width: 400px;
	max-width: 600px;
}
.socialButtons a {
	height: 100px;
	margin: 5px 5%;
}