.logo {
	width: 200px
}
.logoCenter{
	width: 200px;
}
.landing {
	text-align: center;
	color: black;
}
.landing a {
	text-decoration: none;
	cursor: pointer;
}
.bgLeft{
	width: 100%;
	top: 20%;
	height: 80%;
	background: white;
	position: absolute;
	opacity: 0.1;
	z-index: -1;
}
.bgRight{
	width: 100%;
	top: 20%;
	height: 80%;
	left: 50%;
	position: absolute;
	 background: #e0ffc7 url(./img/skate.jpg) no-repeat 10%;  
	opacity: 0.1;
	z-index: -1;
}
.leftRotate {
	min-width: 200px;
	max-width: 500px;
	display: inline-block;
}
.rightRotate {
	min-width: 200px;
	margin-top: 30px;
	max-width: 500px;
	display: inline-block;
}
.socialButtons {
	margin-top: 50px;
	height: 200px;
}
.socialButtons a {
	height: 100px;
	color: black;
	margin: 5px 5%;
}