.hide {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.nav {
	width: 100%;
	max-height: 50px;
    text-align: center;
	-webkit-animation-name: fadeIn;
    -webkit-animation-duration: 1s;
 	animation-name: fadeIn;
  	animation-duration: 1s;
  	visibility: visible;
  	opacity: 1;
}

.nav a {
	min-width: 100px;
	margin: 20px;
	padding: 10px;
}

@-webkit-keyframes fadeIn { 
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@media screen and (min-width:   730px) {
  .nav {
    width: 300px;
    position: absolute;
    right: 40px;
    top: 35px;
  }
}
