.container{
   position: absolute;
   width: 100%;
    display: flex;
   justify-content: center;
   flex-direction: column;
   padding: 0px 20px 20px;
   margin-bottom: 500px;
}
.container .pageTitle {
   position: fixed;
   width: 100%;
   top: 15%;
   text-align: center;
   height: 100px;
}
.timeline {
   height: 90%;
   width: 90%;
   padding: 10px;
   max-width: 1200px;
}
.timeline .sidebar{
   position: absolute;
   top: 10px;
   bottom: 10px;
   z-index: 1;
   width: 6px;
   height: 100%;
   padding-bottom: 500px;
   background: white;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
}

.timeline .sidebar .node_start{
   position: relative;
   top: -60px;
   left: -7px;
   height: 80px;
   width: 100px;
}
.year {
   -moz-transform: rotate(270deg);
   -o-transform: rotate(270deg); 
   -webkit-transform: rotate(270deg); 
   -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=270)";
   color: #eee;
   font-size: 18px;
   position: relative;
   left: -20px;
    width: 50px;
    padding: 0px 30px 100px;
}
.year.y18 {
    top: -10%;
}
.year.y17 {
    margin-bottom: 150px;
}
.timeline .items {
   height: 100%;
   padding-top: 20%;
   padding-bottom: 0px;
   display: flex;
   flex-direction: column;
   justify-content: space-around
}

.timeline .item {
   display: relative;
   color: white;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
}
.timeline .item .branch {
   position: relative;
   margin-left: 0;
   min-width: 250px;
   min-height: 50px;
   transition: margin-left 0.3s ease-out;
}
.timeline .item .branch.selectedBranch  {
      margin-left: 20px;
}
.timeline .item .branch .title {
   margin: 0px 0px 10px 60px;
   font-size: 20px;
   height: 30px;
   text-align: left;
}

.timeline .item .branch .node {
   position: relative;
   top: -10px;
   left: -7px;
   height: 0px;
   transition: left 0.3s;
}
.timeline .item .branch.selectedBranch .node {
   left: -27px
}
.timeline .item .branch .node svg {
   position: absolute;
   left: 0;
}
.timeline .item .branch .period {
   margin: -7px 10px 10px 110px;
   z-index: 1;
   color: #eee;
   height: 18px;
   padding: 0 5px;
   max-width: 200px;
   text-align: left;
}
.timeline .item .content{ 
   position: relative;
   min-height: 200px;
   opacity: 0.9;
   z-index: 5;
   transition: opacity 1s ease-out;
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
}
.timeline .item.reveal .content {
   opacity: 1
}
.timeline .item .content .logo {
   z-index: 0;
   min-width: 250px;
    display: flex;
}
.timeline .item .content .logo img {
   opacity: 0.3;
   height: 50px
}
.timeline .item .content .brief {
   z-index: 1;
   margin: 10px 20px;
   max-width: 500px;
   text-align: left;
}
.timeline .item .content .brief .title {
   margin: 20px 20px 20px 20px;
   text-align: center;
   display: none;
}

@media screen and (min-width: 900px){
   .timeline {
      padding-left: 50px;
   }
   .timeline .sidebar .year {
      left: -50px;
   }
   .timeline .item .branch {
      min-height: 200px;
   }
   .timeline .item .branch .title {
      margin-left: 70px;
   }
   .timeline .item .content{ 
      position: fixed;
      top: 30%;
      min-height: 200px;
      padding-left: 50px;
      opacity: 0;
      z-index: 5;
      transition: opacity 1s ease-out;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
   }

   .timeline .item .content.reveal {
      opacity: 1
   }

   .timeline .item .content .logo {
        height: 250px;
        width: 250px;
   }

   .timeline .item .content .logo img {
      opacity: 0.3;
      top: 30%;
      height: 100%;
    }
   .timeline .item .content .brief .title {
      display: visible
   }
}
@media screen and (min-width: 1200px){
   .timeline .items {
      padding-top: 100px;
   }
}
