.hide {
  	visibility: hidden;
  	opacity: 0;
}


.fadeIn {
   max-width: 900px;
   padding: 10px;
   display: flex;
   justify-content: flex-end;
   flex-flow: row wrap;
	-webkit-animation-name: fadeIn;
    -webkit-animation-duration: 1s;
 	animation-name: fadeIn;
  	animation-duration: 1s;
}
.fadeIn h2 {
   padding-right: 50px;
}
.whoCol{
	text-align: left;
	width: 30%;
	max-width: 230px;
	padding: 0;
	z-index: 1;
   margin-right: 40px;
	min-width: 200px;
}
.profileImg {
	height: 100px;
	width: 100px;
	opacity: 0.5;
	background: #e0ffc7 url(./img/cam.jpg) no-repeat;
	background-size: cover;
	-webkit-animation-name: fadeIn;
    -webkit-animation-duration: 1s;
 	animation-name: fadeIn;
  	animation-duration: 1s;
}
.profileImg.mobile {
	top: 0px;
	position: absolute;
	margin: -40px -50px -50px -20px;
	z-index: 0;
}
.socialButtons {
	vertical-align: bottom;
	color: white;
	text-align: left;
	margin-top: 20px;
	height: 100px;
	text-align: center;
}
.socialButtons a {
	display: inline-block;
	opacity: 0.5;
	margin: 10px 10px 0px;
}
.socialButtons a svg {
   height: 20px;
   width: 20px;
}
.socialButtons a:hover {
	opacity: 1;
	-ms-transition: all 0.2s ease-out; 
	transition: all 0.2s ease-out;
}

.desktop {
	display: none;
}

@media screen and (min-width: 367px){
	.profileImg.mobile {
		margin: 70px -50px -50px -150px;
	}
}
@media screen and (min-width: 700px){
	.fadeIn {
      		justify-content: center
   	}
	.mobile{
		display: none;
	}
	.desktop {
		display: flex;
	}
	.profileImg.desktop {
		height: 120px;
		width: 120px;
		position: relative;
		margin-top: 20px;
		top: 0;
		right: 0;
	}
}
@media screen and (min-width: 1000px){


}
