.center {
	margin-top: 200px;
	margin-bottom: 50px;
	margin-right: 10px;
	height: auto;
	padding: none;
	-webkit-animation-name: fadeIn;
    -webkit-animation-duration: 1s;
 	animation-name: fadeIn;
  	animation-duration: 1s;
  	visibility: visible;
  	opacity: 1;
}
.who h2 {
	margin: 0px;
	margin-left: 100px;
	opacity: 0;
}

.who h2 {
	margin-left: 0px;
	opacity: 1;
	-ms-transition: all 3s ease-out;  /* IE10 */
    transition: all 3s ease-out;  
}
.whoCol{
	display: inline-block;
	text-align: box;
	width: 30%;
	max-width: 200px;
	padding: 0 0 0 5%;
	min-width: 200px;
}
.profileImg {
	height: 150px;
	width: 150px;
	opacity: 0.5;
	top: 5%;
	right: 5%;
	z-index: -1;
	position: absolute;
	background: #e0ffc7 url(./img/cam.jpg) no-repeat;
	background-size: cover;
	-webkit-animation-name: fadeIn;
    -webkit-animation-duration: 1s;
 	animation-name: fadeIn;
  	animation-duration: 1s;
}
.socialButtons {
	max-width
	color: white;
	text-align: left;
	margin-top: 20px;
	height: 50px;
	text-align: center;
}
.socialButtons a {
	opacity: 0.5;
	height: 100px;
	margin: 5px 10px;
}
.socialButtons a:hover {
	opacity: 1;
	-ms-transition: all 0.2s ease-out; 
	transition: all 0.2s ease-out;
}

@media screen and (min-width: 500px){
	.profileImg {
		right: 20%;
	}
	.center {
		margin-top: 300px;
		margin-left: 30%;
		margin-bottom: 50px;
		width: 50%;
	}
}