.myWork {
	position: fixed;
	margin: -30px 0 0 50px;
	 -ms-transition: margin-left 0.3s ease-in-out; 
	transition: margin-left 0.3s ease-in-out;
}
.myWorkProject {
	position: fixed;
	-ms-transition: margin-left 0.3s ease-in-out; 
	transition: margin-left 0.3s ease-in-out;
	margin: -30px 0 0 0;
}
.bgTitle {
	opacity: 0;
}
.bgTitle {
	left: 10%;
	top: 20%;
	font-size: 300px;
	height: 0px;
	margin: 0px;
	position: fixed;
	opacity: 0.1;
	-ms-transition: opacity 0.3s ease-in-out; 
	transition: opacity 0.3s ease-in-out;
	z-index: -1;
}
.tiles {
	opacity: 0;
	max-width: 300px;
	white-space: nowrap;
}
.tiles {
	opacity: 1;
	-ms-transition: opacity 1s ease-out;  /* IE10 */
    transition: opacity 1s ease-out; 
}
.tile {
	display: block;
	width: 100px;
	height: 50px;
    float: left;
	overflow: hidden;
    background: grey;
}
.tile img {
	min-height: 100px;
}
.project {
	-webkit-animation-name: fadeIn;
    -webkit-animation-duration: 1s;
 	animation-name: fadeIn;
  	animation-duration: 1s;
	/*margin-top: -50px;*/
	overflow: hidden;
	text-align: right;
}
.projectTitle {
	margin: 0px;
	text-align: right;
	font-size: 50px;
     -ms-transition: margin-right 0.3s ease-in-out; 
	transition: margin-right 0.3s ease-in-out;
}

.mainImage {
	height: auto;
	margin-left: -40%;
	width: 140%;
}
.descr {
    text-align: right;
	max-width: 100%;
}
.backButton {
	position: fixed;
	margin-left: 10px;
	margin-top: 0px;
 -ms-transition: padding-left 0.3s ease-in-out; 
	transition: padding-left 0.3s ease-in-out;
}
.backButton span {
	opacity: 0;
	-ms-transition: opacity 0.4s ease-in-out; 
	transition: opacity 0.4s ease-in-out;
}

@media screen and (min-width:   500px) {
	.center {
		width: 70%;
		margin-top: 20%;
		margin-left: 30%;
	}
	.myWork {
		margin-left:  0px;
	}
	.myWorkProject {
		margin-left: -150px;
	}
	.tiles {
		margin-left: -50px;
		max-width: 1000px;;
	}
	.tile {
	  	width: 200px;
	    height: 150px;
	    -ms-transition: all 0.2s ease-in-out; 
		transition: all 0.2s ease-in-out;
	}
	.tile:hover {
		width: 250px;
		height: 150px;
	}
	.tile img {
		min-height: 150px;
	}
	.backButton {
		padding-left: 50px;
		margin-left: -140px;
	}
	.backButton:hover {
		padding-left: 0px;
	}

	.backButton:hover > span {
		opacity: 1;
		visibility: visible;
	}
	.projectTitle {
		margin-right: 0px;
	}	
}
@media screen and (min-width:   950px) {
	.mainImage {
		margin-left: 0;
		width: 100%;
	}
	.descr {
		position: absolute;
	    top: 370px;
	    left: 50px;
	    max-width: 400px;
	    padding: 20px;
	    background: rgba(0,0,0, 0.5)
	}	

}