.container {
    position: absolute;
    left: 5px;
    right: 5px;
    min-height: 300px;
    max-height: 550px;
    max-width: 98%;
    margin: 20px 0px;
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 30px;
}
.network {
    height: 100%;
    max-width: 100%;
    margin: 0px auto;
    position: relative;
    z-index: 1;
}
.modeSelector {
    height: auto;
    width: 200px;
    position: absolute;
    z-index: 2;
    top: 5px;
    left: 0px;
}
.companyProfile {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
    padding: 20px 5px;
    overflow: hidden;
    width: 50%;
    max-width: 0px;
    opacity: 0;
    transition: max-width 0.3s ease-in, opacity 0.35s ease-in;
    height: 100%;
    color: #000;
}

.companyProfile.active {
    max-width: 350px;
    opacity: 1;
}

