._logo_pwz8t_1{
	left: 30%;
	width: 15%;
	top: 5px;
	z-index:7;
   width: 150px;
	position: absolute;
	opacity: 1;
	margin-bottom: 0px;
}
._app_pwz8t_11 {
	height: auto;
}
._headHuman_16nxm_1 {
	text-align: left;
}
._logo_16nxm_4{
	z-index: 7;
	width: 15%;
	top: 5px;
	width: 150px;
	position: fixed;
	opacity: 1;
}
._logo_16nxm_4{
	left: 20px;
	transition: 1s ease-in-out;
}
._head_16nxm_1 { 
	position: fixed;
	width: 100%;
   z-index:6; 
   height: 200px;
   padding-top: 20px;
	top: 0px;
	background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,0));
	-webkit-animation-delay: 0s;
    animation-delay: 0s;
	-webkit-animation-name: _fadeIn_16nxm_1;
    -webkit-animation-duration: 2s;
 	animation-name: _fadeIn_16nxm_1;
  	animation-duration: 2s;
  	opacity: 1;
}
._head_16nxm_1 h1 {
	margin-left: 170px;
	max-width: 300px;
}

._center_16nxm_37 {
	margin-bottom: 50px;
	top: 250px;
   left: 10px;
   right: 10px;
	height: auto;
	padding: none;
	position: absolute;
	-webkit-animation-name: _fadeIn_16nxm_1;
    -webkit-animation-duration: 1s;
 	animation-name: _fadeIn_16nxm_1;
  	animation-duration: 1s;
  	visibility: visible;
  	opacity: 1;
   display: flex;
   justify-content: center;
}

@-webkit-keyframes _fadeIn_16nxm_1 { 
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@keyframes _fadeIn_16nxm_1 {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

._hide_16nxm_73 {
	opacity: 0;
	/*visibility: hidden;*/
	transition: all 0.2s;
}


@media screen and (min-width: 500px){
	._center_16nxm_37 {
		margin-bottom: 50px;
	}
}
._projectsContainer_raxan_1{
   width: 90%;
   margin-top: 30px;
   max-width: 1000px;
   display: flex;
   flex-flow: row wrap;
}
._myWork_raxan_8 {
	position: fixed;
	margin: 0 0 0 0px;
   background: black;
	 -ms-transition: margin-left 0.3s ease-in-out; 
	transition: margin-left 0.3s ease-in-out;
}
._myWorkProject_raxan_15 {
	position: fixed;
	-ms-transition: margin-left 0.3s ease-in-out; 
	transition: margin-left 0.3s ease-in-out;
	margin: -30px 0 0 0;
}
._bgTitle_raxan_21 {
	opacity: 0;
}
._bgTitle_raxan_21 {
	left: 10%;
	top: 20%;
	font-size: 300px;
	height: 0px;
	margin: 0px;
	position: fixed;
	opacity: 0.1;
	-ms-transition: opacity 0.3s ease-in-out; 
	transition: opacity 0.3s ease-in-out;
	z-index: -1;
}
._tiles_raxan_36 {
   padding: 30px 0px;
	max-width: 90%;
   display: flex;
	flex-flow: column wrap;
}
._tileContainer_raxan_42 {
   position: relative;
	width: 100%;
	height: 90px;
   margin: 5px;
}
._tile_raxan_36 {
	position: absolute;
   right: 0px;
   opacity: 0.7;
   display: block;
	height: 100%;
   width: 200px;
   overflow: hidden;
   background: rgba(255,255,255,0.2);
}
._tile_raxan_36 img {
	min-height: 50px;
   z-index: 1;
}
._tileInfo_raxan_62 {
   position: absolute;
   z-index: 2;
   right: 200px;
   top: 0px;
   left: 0px;
}
._tileInfo_raxan_62 p {
   margin: 0px;
   padding: 0px 3px;
   width: auto
}
._project_raxan_1 {
   padding-top: 30px;
	-webkit-animation-name: _fadeIn_raxan_1;
    -webkit-animation-duration: 1s;
 	animation-name: _fadeIn_raxan_1;
  	animation-duration: 1s;
	/*margin-top: -50px;*/
	overflow: hidden;
	text-align: right;
}
._projectTitle_raxan_84 {
   font-size: 20px
}

._mainImageContainer_raxan_88 {
   max-height: 200px;
   overflow: hidden;
}
._mainImage_raxan_88 {
	height: auto;
   margin-left: -10%;
	width: 100%;
}
._secondImage_raxan_97 {
   max-width: 100%;
   height: auto;
   max-height: 400px;
   opacity: 0.8;
   transition: opacity 0.3s ease-in;
}
._project_raxan_1 img:active, ._project_raxan_1 img:hover {
   opacity: 1;
}
._blerb_raxan_107, ._descr_raxan_107 {
    text-align: right;
	max-width: 100%;
}


._backButton_raxan_113 {
	position: fixed;
	margin-left: 10px;
	margin-top: 0px;
 -ms-transition: padding-left 0.3s ease-in-out; 
	transition: padding-left 0.3s ease-in-out;
}
._backButton_raxan_113 span {
	opacity: 0;
	-ms-transition: opacity 0.4s ease-in-out; 
	transition: opacity 0.4s ease-in-out;
}

@media screen and (min-width:   500px) {
	._center_raxan_127 {
		width: 70%;
		margin-top: 20%;
		margin-left: 30%;
	}
   ._projectsContainer_raxan_1 {
      padding-left: 10%;
   }
	._myWork_raxan_8 {
		margin-left:  70px;
	}
	._myWorkProject_raxan_15 {
		margin-left: -50px;
	}
	._tiles_raxan_36 {
      position: fixed;
      margin-top: 50px;
      padding-left: 0px;
      max-height: 350px;
      flex-flow: row wrap;
      justify-content: center;
   }
   ._tileContainer_raxan_42 {
      margin: 10px;
	  	position: relative;
      z-index: 5;
      opacity: 0.7;
      width: 200px;
	    height: 150px;
       transform: scale(1);
	    -ms-transition: all 0.2s ease-in-out; 
		transition: all 0.2s ease-in-out;
	}
	._tileContainer_raxan_42:hover {
      z-index: 6;
      opacity: 1;
		transform: scale(1.01)
	}
   ._tileInfo_raxan_62 {
      top: 0px;
      bottom: 10px;
      right:20px;
      opacity: 0;
      background: rgba(0,0,0,0.2);
      transition: opacity 0.3s 0.2s ease-out;
   }
   ._tileContainer_raxan_42:hover ._tileInfo_raxan_62 {
      opacity: 1
   }
   ._tileInfo_raxan_62 p {
      font-size: 20px;
   }
	._tile_raxan_36 img {
      top: 0px;
      position: relative;
		min-height: 150px;
   }
	._backButton_raxan_113 {
		padding-left: 50px;
		margin-left: -50px;
	}
	._backButton_raxan_113:hover {
		padding-left: 0px;
	}

	._backButton_raxan_113:hover > span {
		opacity: 1;
		visibility: visible;
	}
   ._project_raxan_1 {
      max-width: 90%;
   }
	._projectTitle_raxan_84 {
		margin-right: 0px;
	}	
   ._mainImageContainer_raxan_88 {
      max-height: 400px;
   }
   ._mainImage_raxan_88 {
      opacity: 0.9;
      filter: invert(0.7);
		margin-left: 0;
		width: 100%;
      transition: opacity 0.2s ease-in-out;
      transition: filter 0.3s ease-out 0.1s;
	}
   ._mainImage_raxan_88:hover {
      opacity: 1;
      filter: none;
   }
}
@media screen and (min-width: 800px){
   ._tiles_raxan_36 {
      justify-content: flex-start;
      padding-left: 0px;
   } 
   ._content_raxan_223 {
      display: flex;
      margin-top: 30px;
      width: 100%;
   }
   ._descr_raxan_107 {
      min-width: 400px;
      margin-right: 30px;
   }
   ._secondImage_raxan_97 {
      max-height: 500px;
   }
}
@media screen and (min-width:   1080px) {
	._myWorkProject_raxan_15, ._backButton_raxan_113 {
      margin-left: -100px
   }
   ._tiles_raxan_36 {
      max-width: 100%;
   }
   
   ._project_raxan_1 {
      max-width: 100%;
      margin-top: -100px;
   }

   ._descr_raxan_107 {
      max-width: 500px
   }

}
._container_1d7ym_1{
   display: flex;
   justify-content: center;
   flex-direction: column;
   padding: 0px 20px;
}
._container_1d7ym_1 ._pageTitle_1d7ym_7 {
   position: fixed;
   width: 100%;
   top: 15%;
   text-align: center;
   height: 100px;
}
._timeline_1d7ym_14 {
   height: 90%;
   width: 90%;
   padding: 10px;
   max-width: 1200px;
}
._timeline_1d7ym_14 ._sidebar_1d7ym_20{
   position: absolute;
   top: 10px;
   bottom: 10px;
   z-index: 1;
   width: 6px;
   margin-bottom: -300px;
   padding-bottom: 300px;
   background: white;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

._timeline_1d7ym_14 ._sidebar_1d7ym_20 ._node_start_1d7ym_34{
   position: relative;
   top: -60px;
   left: -7px;
   height: 80px;
   width: 100px;
}
._timeline_1d7ym_14 ._sidebar_1d7ym_20 ._year_1d7ym_41 {
   -moz-transform: rotate(270deg);
   -o-transform: rotate(270deg); 
   -webkit-transform: rotate(270deg); 
   -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=270)";
   color: #eee;
   font-size: 18px;
   position: relative;
   left: -20px
}
._timeline_1d7ym_14 ._items_1d7ym_51 {
   height: 100%;
   padding-bottom: 0px;
   display: flex;
   flex-direction: column;
   justify-content: space-around
}

._timeline_1d7ym_14 ._item_1d7ym_51 {
   display: relative;
   color: white;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
}
._timeline_1d7ym_14 ._item_1d7ym_51 ._branch_1d7ym_67 {
   position: relative;
   margin-left: 0;
   min-width: 250px;
   min-height: 50px;
   transition: margin-left 0.3s ease-out;
}
._timeline_1d7ym_14 ._item_1d7ym_51 ._branch_1d7ym_67._selectedBranch_1d7ym_74  {
      margin-left: 20px;
}
._timeline_1d7ym_14 ._item_1d7ym_51 ._branch_1d7ym_67 ._title_1d7ym_77 {
   margin: 0px 0px 10px 60px;
   font-size: 20px;
   height: 30px;
   text-align: left;
}

._timeline_1d7ym_14 ._item_1d7ym_51 ._branch_1d7ym_67 ._node_1d7ym_34 {
   position: relative;
   top: -10px;
   left: -7px;
   height: 0px;
   transition: left 0.3s;
}
._timeline_1d7ym_14 ._item_1d7ym_51 ._branch_1d7ym_67._selectedBranch_1d7ym_74 ._node_1d7ym_34 {
   left: -27px
}
._timeline_1d7ym_14 ._item_1d7ym_51 ._branch_1d7ym_67 ._node_1d7ym_34 svg {
   position: absolute;
   left: 0;
}
._timeline_1d7ym_14 ._item_1d7ym_51 ._branch_1d7ym_67 ._period_1d7ym_98 {
   margin: -7px 10px 10px 110px;
   z-index: 1;
   color: #eee;
   height: 18px;
   padding: 0 5px;
   max-width: 200px;
   text-align: left;
}
._timeline_1d7ym_14 ._item_1d7ym_51 ._content_1d7ym_107{ 
   position: relative;
   min-height: 200px;
   top: -50px;
   opacity: 0.9;
   z-index: 5;
   transition: opacity 1s ease-out;
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
}
._timeline_1d7ym_14 ._item_1d7ym_51._reveal_1d7ym_118 ._content_1d7ym_107 {
   opacity: 1
}
._timeline_1d7ym_14 ._item_1d7ym_51 ._content_1d7ym_107 ._logo_1d7ym_121 {
   position: relative;
   z-index: 0;
   width: 50%;
   min-width: 250px;
   display: flex;
   justify-content: flex-end
}
._timeline_1d7ym_14 ._item_1d7ym_51 ._content_1d7ym_107 ._logo_1d7ym_121 img {
   opacity: 0.3;
   height: 50px
}
._timeline_1d7ym_14 ._item_1d7ym_51 ._content_1d7ym_107 ._brief_1d7ym_133 {
   z-index: 1;
   margin: 10px 20px;
   max-width: 500px;
   text-align: left;
}
._timeline_1d7ym_14 ._item_1d7ym_51 ._content_1d7ym_107 ._brief_1d7ym_133 ._title_1d7ym_77 {
   margin: 20px 20px 20px 20px;
   text-align: center;
   display: none;
}

@media screen and (min-width: 800px){
   ._timeline_1d7ym_14 {
      padding-left: 50px;
   }
   ._timeline_1d7ym_14 ._sidebar_1d7ym_20 ._year_1d7ym_41 {
      left: -50px;
   }
   ._timeline_1d7ym_14 ._item_1d7ym_51 ._branch_1d7ym_67 {
      min-height: 150px;
   }
   ._timeline_1d7ym_14 ._item_1d7ym_51 ._branch_1d7ym_67 ._title_1d7ym_77 {
      margin-left: 70px;
   }
   ._timeline_1d7ym_14 ._item_1d7ym_51 ._content_1d7ym_107{ 
      position: fixed;
      top: 30%;
      height: 200px;
      opacity: 0;
      z-index: 5;
      transition: opacity 1s ease-out;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
   }

   ._timeline_1d7ym_14 ._item_1d7ym_51 ._content_1d7ym_107._reveal_1d7ym_118 {
      opacity: 1
   }
   ._timeline_1d7ym_14 ._item_1d7ym_51 ._content_1d7ym_107 ._logo_1d7ym_121 {
      position: absolute
   }
   ._timeline_1d7ym_14 ._item_1d7ym_51 ._content_1d7ym_107 ._logo_1d7ym_121 img {
      position: fixed;
      opacity: 0.3;
      top: 30%;
      height: 250px
   }
   ._timeline_1d7ym_14 ._item_1d7ym_51 ._content_1d7ym_107 ._brief_1d7ym_133 ._title_1d7ym_77 {
      display: visible
   }
}
@media screen and (min-width: 1000px){
   ._timeline_1d7ym_14 ._items_1d7ym_51 {
      padding-top: 100px;
   }
   ._timeline_1d7ym_14 ._item_1d7ym_51 ._branch_1d7ym_67 {
      min-height: 200px;
   }
}
._hide_13u80_1 {
  	visibility: hidden;
  	opacity: 0;
}

._fadeIn_13u80_6 {
   max-width: 900px;
   padding: 10px;
   display: flex;
   justify-content: flex-end;
   flex-flow: row wrap;
	-webkit-animation-name: _fadeIn_13u80_6;
    -webkit-animation-duration: 1s;
 	animation-name: _fadeIn_13u80_6;
  	animation-duration: 1s;
}
._fadeIn_13u80_6 h2 {
   padding-right: 50px;
}
._whoCol_13u80_20{
	text-align: justify;
	width: 30%;
	max-width: 230px;
	padding: 0;
   margin-right: 40px;
	min-width: 200px;
}
._profileImg_13u80_28 {
	height: 150px;
	width: 150px;
	opacity: 0.5;
	top: 5%;
	right: 5%;
	z-index: 0;
	position: absolute;
	background: #e0ffc7 url(./img/cam.jpg) no-repeat;
	background-size: cover;
	-webkit-animation-name: _fadeIn_13u80_6;
    -webkit-animation-duration: 1s;
 	animation-name: _fadeIn_13u80_6;
  	animation-duration: 1s;
}
._socialButtons_13u80_43 {
	vertical-align: bottom;
	color: white;
	text-align: left;
	margin-top: 20px;
	height: 100px;
	text-align: center;
}
._socialButtons_13u80_43 a {
	display: inline-block;
	opacity: 0.5;
	margin: 10px 10px 0px;
}
._socialButtons_13u80_43 a svg {
   height: 20px;
   width: 20px;
}
._socialButtons_13u80_43 a:hover {
	opacity: 1;
	-ms-transition: all 0.2s ease-out; 
	transition: all 0.2s ease-out;
}

@media screen and (min-width: 550px){
	._fadeIn_13u80_6 {
      justify-content: center
   }
   ._center_13u80_70 {
		margin-top: 300px;
		margin-left: 30%;
		margin-bottom: 50px;
		width: 50%;
		max-width: 700px;
	}
}
@media screen and (min-width: 1300px){
	._profileImg_13u80_28 {
		right: 10%;
	}

}
._hide_or4pj_1 {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

._nav_or4pj_7 {
	width: 100%;
	text-align: center;
	-webkit-animation-name: _fadeIn_or4pj_1;
    -webkit-animation-duration: 1s;
 	animation-name: _fadeIn_or4pj_1;
  	animation-duration: 1s;
  	visibility: visible;
  	opacity: 1;
}

._nav_or4pj_7 a {
	min-width: 100px;
	margin: 20px;
	padding: 10px;
}

@-webkit-keyframes _fadeIn_or4pj_1 { 
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@keyframes _fadeIn_or4pj_1 {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@media screen and (min-width:   730px) {
  ._nav_or4pj_7 {
    width: 300px;
    position: absolute;
    right: 40px;
    top: 35px;
  }
}
._projectLinks_1q2k9_1 {
	text-align: right;
	margin-bottom: 10px;
	min-height: 30px;
	color: white;
}
._projectLink_1q2k9_1 {
	display: inline-block;
   opacity: 0.7;
	text-shadow: 0px 0px 4px #FFF; 
   float: right;
	clear: both;
	max-width: 200px;
 	margin: 0px;
}
@media screen and (min-width: 800px){
   ._projectLink_1q2k9_1 {
	   text-shadow: none;
      opacity: 0.5;
	-ms-transition: opacity 0.2s ease-out; 
	transition: opacity 0.2s ease-out;
}
   ._projectLink_1q2k9_1:hover {
	   opacity: 1;
   }
}
