._client_components_css_app__logo{
	left: 30%;
	width: 15%;
	top: 5px;
	z-index:7;
   width: 150px;
	position: absolute;
	opacity: 1;
	margin-bottom: 0px;
}
._client_components_css_app__app {
	height: auto;
}
._client_components_css_human__logoContainer {
	position: relative;
	top: 5px;
	width: 80px;
	height: 54px;
	opacity: 1;
	flex-shrink: 0;
	transition: 1s ease-in-out;
}

._client_components_css_human__logo {
	position: relative;
	height: 100%;
	width: 100%;
}

._client_components_css_human__head {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	padding: 0 10px;
	z-index:6;
	height: 150px;
	background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.8), rgba(0,0,0,0.6), rgba(0,0,0,0.3), rgba(0,0,0,0));
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-name: _client_components_css_human__fadeIn;
	-webkit-animation-duration: 2s;
	animation-name: _client_components_css_human__fadeIn;
	animation-duration: 2s;
	opacity: 1;
}
._client_components_css_human__title {
	display: none;
	letter-spacing: .4em;
	margin-left: 40px;
	width: 200px;
	margin-bottom: 0;
}

._client_components_css_human__center {
	margin-bottom: 50px;
	top: 200px;
	left: 0px;
	right: 10px;
	padding: none;
	position: relative;
	-webkit-animation-name: _client_components_css_human__fadeIn;
	-webkit-animation-duration: 1s;
	animation-name: _client_components_css_human__fadeIn;
	animation-duration: 1s;
	visibility: visible;
	opacity: 1;
	display: flex;
}

@-webkit-keyframes _client_components_css_human__fadeIn {
	0% { opacity: 0; }
	20% { opacity: 0; }
	40% { opacity: 0.3; }
	60% { opacity: 0.5; }
	80% { opacity: 0.9; }
	100% { opacity: 1; }
}

@keyframes _client_components_css_human__fadeIn {
	0% { opacity: 0; }
	20% { opacity: 0; }
	40% { opacity: 0.3; }
	60% { opacity: 0.5; }
	80% { opacity: 0.9; }
	100% { opacity: 1; }
}

._client_components_css_human__hide {
	opacity: 0;
	/*visibility: hidden;*/
	transition: all 0.2s;
}


@media screen and (min-width: 660px){
	._client_components_css_human__head {
		justify-content: flex-start;
	}

	._client_components_css_human__title {
		display: unset;
	}
	._client_components_css_human__logoContainer {
		left: 20px;
		width: 150px;
		height: 100px;
	}
}

@media screen and (min-width: 500px){
	._client_components_css_human__center {
		top: 250px;
		margin-bottom: 50px;
	}
}
._client_components_css_footer__footer {
    z-index: 3;
    position: fixed;
    padding-bottom: 2px;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 30px;
    max-height:70px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    text-align: center;
    overflow: visible;
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
}

._client_components_css_footer__footer > div {
	margin: 0px 10px;
    max-height: 30px;
    position: inline;
    vertical-align: bottom;
}


@media screen and (min-width: 500px) {
  ._client_components_css_footer__footer {
     max-height:100px;
  }
	._client_components_css_footer__footer div {
        max-width: 100px;
		position: relative;
	}
	._client_components_css_footer__footer > ._client_components_css_footer__left {
		left: 20px;
	}
	._client_components_css_footer__footer > ._client_components_css_footer__right {
		right: 20px;
	}
}
._client_components_css_who__hide {
  	visibility: hidden;
  	opacity: 0;

}


._client_components_css_who__fadeIn {
   position: absolute;
   width: 100%;
   padding: 50px 10px;
   display: flex;
   justify-content: flex-end;
   flex-flow: row wrap;
	-webkit-animation-name: _client_components_css_who__fadeIn;
    -webkit-animation-duration: 1s;
 	animation-name: _client_components_css_who__fadeIn;
  	animation-duration: 1s;
}
._client_components_css_who__fadeIn h2 {
   padding-right: 50px;
}
._client_components_css_who__whoCol{
	text-align: left;
	max-width: 230px;
	padding: 0;
	z-index: 1;
   margin-right: 40px;
	min-width: 200px;
}

._client_components_css_who__profileImg {
	height: 100px;
	width: 100px;
	opacity: 0.5;
	background: #e0ffc7 url(./img/cam.jpg) no-repeat;
	background-size: cover;
	-webkit-animation-name: _client_components_css_who__fadeIn;
    -webkit-animation-duration: 1s;
 	animation-name: _client_components_css_who__fadeIn;
  	animation-duration: 1s;
}
._client_components_css_who__profileImg._client_components_css_who__mobile {
    position: absolute;
	z-index: 0;
	top: -5px;
}
._client_components_css_who__socialButtons {
	vertical-align: bottom;
	color: white;
	text-align: left;
	margin-top: 20px;
	height: 100px;
	text-align: center;
}
._client_components_css_who__socialButtons a {
	display: inline-block;
	opacity: 0.5;
	margin: 10px 10px 0px;
}
._client_components_css_who__socialButtons a svg {
   height: 20px;
   width: 20px;
}
._client_components_css_who__socialButtons a:hover {
	opacity: 1;
	-ms-transition: all 0.2s ease-out; 
	transition: all 0.2s ease-out;
}

._client_components_css_who__desktop {
	display: none;
}

@media screen and (min-width: 700px){
	._client_components_css_who__fadeIn {
      		justify-content: center
   	}
	._client_components_css_who__mobile{
		display: none;
	}
	._client_components_css_who__desktop {
		display: flex;
	}
    ._client_components_css_who__whoCol {
        width: 30%;
    }

	._client_components_css_who__profileImg._client_components_css_who__desktop {
		height: 120px;
		width: 120px;
		position: relative;
		margin-top: 20px;
		top: 0;
		right: 0;
	}
}
@media screen and (min-width: 1000px){


}
._client_components_css_timeline__container{
   position: absolute;
   width: 100%;
    display: flex;
   justify-content: center;
   flex-direction: column;
   padding: 0px 20px 20px;
   margin-bottom: 500px;
}
._client_components_css_timeline__container ._client_components_css_timeline__pageTitle {
   position: fixed;
   width: 100%;
   top: 15%;
   text-align: center;
   height: 100px;
}
._client_components_css_timeline__timeline {
   height: 90%;
   width: 90%;
   padding: 10px;
   max-width: 1200px;
}
._client_components_css_timeline__timeline ._client_components_css_timeline__sidebar{
   position: absolute;
   top: 10px;
   bottom: 10px;
   z-index: 1;
   width: 6px;
   height: 100%;
   padding-bottom: 500px;
   background: white;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
}

._client_components_css_timeline__node_start{
   position: relative;
   margin-top: -65px;
   margin-left: -7px;
   height: 80px;
   width: 100px;
}
._client_components_css_timeline__year {
   -moz-transform: rotate(270deg);
   -o-transform: rotate(270deg); 
   -webkit-transform: rotate(270deg); 
   -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=270)";
   color: #eee;
   font-size: 18px;
   position: relative;
   left: -20px;
    width: 50px;
    padding: 0px 30px 100px;
}
._client_components_css_timeline__year._client_components_css_timeline__y18 {
    top: -10%;
}
._client_components_css_timeline__year._client_components_css_timeline__y17 {
    margin-bottom: 150px;
}
._client_components_css_timeline__timeline ._client_components_css_timeline__items {
   height: 100%;
   padding-top: 20%;
   padding-bottom: 0px;
   display: flex;
   flex-direction: column;
   justify-content: space-around
}

._client_components_css_timeline__timeline ._client_components_css_timeline__item {
   display: relative;
   color: white;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
}
._client_components_css_timeline__timeline ._client_components_css_timeline__item ._client_components_css_timeline__branch {
   position: relative;
   margin-left: 0;
   min-width: 250px;
   min-height: 50px;
   transition: margin-left 0.3s ease-out;
}
._client_components_css_timeline__timeline ._client_components_css_timeline__item ._client_components_css_timeline__branch._client_components_css_timeline__selectedBranch  {
    margin-left: 20px;
}
._client_components_css_timeline__timeline ._client_components_css_timeline__item ._client_components_css_timeline__branch ._client_components_css_timeline__title {
   margin: 0px 0px 10px 60px;
   font-size: 20px;
   height: 30px;
   text-align: left;
}

._client_components_css_timeline__timeline ._client_components_css_timeline__item ._client_components_css_timeline__branch ._client_components_css_timeline__node {
   position: relative;
   top: -10px;
   left: -7px;
   height: 0px;
   transition: left 0.3s;
}
._client_components_css_timeline__timeline ._client_components_css_timeline__item ._client_components_css_timeline__branch._client_components_css_timeline__selectedBranch ._client_components_css_timeline__node {
   left: -27px
}
._client_components_css_timeline__timeline ._client_components_css_timeline__item ._client_components_css_timeline__branch ._client_components_css_timeline__node svg {
   position: absolute;
   left: 0;
}
._client_components_css_timeline__timeline ._client_components_css_timeline__item ._client_components_css_timeline__branch ._client_components_css_timeline__period {
   margin: -7px 10px 10px 110px;
   z-index: 1;
   color: #eee;
   height: 18px;
   padding: 0 5px;
   max-width: 200px;
   text-align: left;
}
._client_components_css_timeline__timeline ._client_components_css_timeline__item ._client_components_css_timeline__content{ 
   position: relative;
   min-height: 200px;
   opacity: 0.9;
   z-index: 5;
   transition: opacity 1s ease-out;
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
}
._client_components_css_timeline__timeline ._client_components_css_timeline__item._client_components_css_timeline__reveal ._client_components_css_timeline__content {
   opacity: 1
}
._client_components_css_timeline__timeline ._client_components_css_timeline__item ._client_components_css_timeline__content ._client_components_css_timeline__logo {
   z-index: 0;
   min-width: 250px;
    display: flex;
    justify-content: center;
}
._client_components_css_timeline__timeline ._client_components_css_timeline__item ._client_components_css_timeline__content ._client_components_css_timeline__logo img {
   margin-top: 36px;
   opacity: 0.3;
   height: 50px
}
._client_components_css_timeline__timeline ._client_components_css_timeline__item ._client_components_css_timeline__content ._client_components_css_timeline__brief {
   z-index: 1;
   margin: 10px 20px;
   max-width: 500px;
   text-align: left;
}
._client_components_css_timeline__timeline ._client_components_css_timeline__item ._client_components_css_timeline__content ._client_components_css_timeline__brief ._client_components_css_timeline__title {
   margin: 20px 20px 20px 20px;
   text-align: center;
   display: none;
}

@media screen and (min-width: 900px){
   ._client_components_css_timeline__timeline {
      padding-left: 50px;
   }
   ._client_components_css_timeline__timeline ._client_components_css_timeline__sidebar ._client_components_css_timeline__year {
      left: -50px;
   }
   ._client_components_css_timeline__timeline ._client_components_css_timeline__item ._client_components_css_timeline__branch {
      min-height: 200px;
    }
    ._client_components_css_timeline__timeline ._client_components_css_timeline__item ._client_components_css_timeline__branch ._client_components_css_timeline__title, ._client_components_css_timeline__timeline ._client_components_css_timeline__item ._client_components_css_timeline__branch ._client_components_css_timeline__period {
        opacity: 0.7;
        transition: opacity 0.3s ease-in-out;
   }
   ._client_components_css_timeline__timeline ._client_components_css_timeline__item ._client_components_css_timeline__branch._client_components_css_timeline__selectedBranch ._client_components_css_timeline__title, ._client_components_css_timeline__timeline ._client_components_css_timeline__item ._client_components_css_timeline__branch._client_components_css_timeline__selectedBranch ._client_components_css_timeline__period {
        opacity: 1;
   }

   ._client_components_css_timeline__timeline ._client_components_css_timeline__item ._client_components_css_timeline__branch ._client_components_css_timeline__title {
      margin-left: 70px;
   }
   ._client_components_css_timeline__timeline ._client_components_css_timeline__item ._client_components_css_timeline__content{ 
      position: fixed;
      top: 30%;
      min-height: 200px;
      padding-left: 316px;
      opacity: 0;
      z-index: 5;
      transition: opacity 1s ease-out;
      display: flex;
      flex-flow: row-reverse nowrap;
      justify-content: center;
   }

   ._client_components_css_timeline__timeline ._client_components_css_timeline__item ._client_components_css_timeline__content._client_components_css_timeline__reveal {
      opacity: 1
   }

   ._client_components_css_timeline__timeline ._client_components_css_timeline__item ._client_components_css_timeline__content ._client_components_css_timeline__logo {
        height: 250px;
        width: 200px;
   }

   ._client_components_css_timeline__timeline ._client_components_css_timeline__item ._client_components_css_timeline__content ._client_components_css_timeline__logo img {
      opacity: 0.3;
      top: 30%;
      min-height: 150px;
      max-width: 100%;
    }
   ._client_components_css_timeline__timeline ._client_components_css_timeline__item ._client_components_css_timeline__content ._client_components_css_timeline__brief ._client_components_css_timeline__title {
      display: visible
   }
}
@media screen and (min-width: 1200px){
   ._client_components_css_timeline__timeline ._client_components_css_timeline__items {
      padding-top: 100px;
   }
}
._client_components_css_work__projectsContainer{
   width: 90%;
   position: absolute;
   margin-top: 30px;
   max-width: 1000px;
   display: flex;
   flex-flow: row wrap;
}
._client_components_css_work__myWork {
	position: fixed;
	margin: -30px 0 0 0;
    background: rgba(0,0,0,0.2);
    transition: margin-left 0.3s ease-in-out;
}

._client_components_css_work__myWorkProject {
    position: fixed;
    margin: -30px 0 0 0;
    z-index: 5;
    background: rgba(0,0,0,0.2);
    transition: margin-left 0.3s ease-in-out;
}

._client_components_css_work__bgTitle {
	opacity: 0;
}
._client_components_css_work__bgTitle {
	left: 10%;
	top: 20%;
	font-size: 300px;
	height: 0px;
	margin: 0px;
	position: fixed;
	opacity: 0.1;
	-ms-transition: opacity 0.3s ease-in-out; 
	transition: opacity 0.3s ease-in-out;
	z-index: -1;
}
._client_components_css_work__tiles {
    position: fixed;
   padding: 30px 0px;
    max-width: 90%;
   display: flex;
	flex-flow: column wrap;
}
._client_components_css_work__tileContainer {
   position: relative;
	width: 100%;
	height: 90px;
   margin: 5px;
}
._client_components_css_work__tile {
	position: absolute;
   right: 0px;
   opacity: 0.7;
   display: block;
	height: 100%;
   width: 200px;
   overflow: hidden;
   background: rgba(255,255,255,0.2);
}
._client_components_css_work__tile img {
	min-height: 50px;
   z-index: 1;
}
._client_components_css_work__tileInfo {
   position: absolute;
   z-index: 2;
   right: 200px;
   top: 0px;
   left: 0px;
}
._client_components_css_work__tileInfo p {
   margin: 0px;
   padding: 0px 3px;
   width: auto
}
._client_components_css_work__project {
   padding-top: 30px;
	-webkit-animation-name: _client_components_css_work__fadeIn;
    -webkit-animation-duration: 1s;
 	animation-name: _client_components_css_work__fadeIn;
  	animation-duration: 1s;
	/*margin-top: -50px;*/
	overflow: hidden;
	text-align: right;
}
._client_components_css_work__projectTitle {
   font-size: 20px
}

._client_components_css_work__mainImageContainer {
   max-height: 150px;
   overflow: hidden;
}
._client_components_css_work__mainImage {
	height: auto;
   margin-left: -10%;
	width: 100%;
}
._client_components_css_work__content {
    height: auto;
}
._client_components_css_work__secondImage {
   max-width: 100%;
   height: auto;
   max-height: 200px;
   opacity: 0.8;
   transition: opacity 0.3s ease-in;
}
._client_components_css_work__project img:active, ._client_components_css_work__project img:hover {
   opacity: 1;
}
._client_components_css_work__blerb, ._client_components_css_work__descr {
    text-align: right;
	max-width: 100%;
}


._client_components_css_work__backButton {
	position: fixed;
	margin-left: 10px;
    z-index: 5;
	margin-top: 0px;
 -ms-transition: padding-left 0.3s ease-in-out; 
	transition: padding-left 0.3s ease-in-out;
    background-color: rgba(0,0,0,0.2);
}
._client_components_css_work__backButton span {
    opacity: 0;
	-ms-transition: opacity 0.4s ease-in-out; 
	transition: opacity 0.4s ease-in-out;
}

@media screen and (min-width:   500px) {
	._client_components_css_work__center {
		width: 70%;
		margin-top: 20%;
		margin-left: 30%;
	}
   ._client_components_css_work__projectsContainer {
      padding-left: 10%;
   }
	._client_components_css_work__myWork {
		margin-left:  70px;
	}
	._client_components_css_work__myWorkProject {
		margin-left: -50px;
	}
	._client_components_css_work__tiles {
      margin-top: 50px;
      padding-left: 0px;
      max-height: 350px;
      flex-flow: row wrap;
      justify-content: center;
   }
   ._client_components_css_work__tileContainer {
      margin: 10px;
	  	position: relative;
      z-index: 5;
      opacity: 0.7;
      width: 200px;
	    height: 150px;
       transform: scale(1);
	    -ms-transition: all 0.2s ease-in-out; 
		transition: all 0.2s ease-in-out;
	}
	._client_components_css_work__tileContainer:hover {
      z-index: 6;
      opacity: 1;
		transform: scale(1.01)
	}
   ._client_components_css_work__tileInfo {
      top: 0px;
      bottom: 10px;
      right:20px;
      opacity: 0;
      background: rgba(0,0,0,0.2);
      transition: opacity 0.3s 0.2s ease-out;
   }
   ._client_components_css_work__tileContainer:hover ._client_components_css_work__tileInfo {
      opacity: 1
   }
   ._client_components_css_work__tileInfo p {
      font-size: 20px;
   }
	._client_components_css_work__tile img {
      top: 0px;
      position: relative;
		min-height: 150px;
   }
	._client_components_css_work__backButton {
		padding-left: 50px;
		margin-left: -50px;
	}
	._client_components_css_work__backButton:hover {
		padding-left: 0px;
	}

	._client_components_css_work__backButton:hover > span {
		opacity: 1;
		visibility: visible;
	}
   ._client_components_css_work__project {
      max-width: 90%;
   }
	._client_components_css_work__projectTitle {
		margin-right: 0px;
	}	
   ._client_components_css_work__mainImageContainer {
      max-height: 200px;
   }
   ._client_components_css_work__mainImage {
      opacity: 0.9;
      filter: invert(0.2);
		margin-left: 0;
		width: 100%;
      transition: opacity 0.2s ease-in-out;
      transition: filter 0.3s ease-out 0.1s;
	}
   ._client_components_css_work__mainImage:hover {
      opacity: 1;
      filter: none;
   }
}
@media screen and (min-width: 800px){
   ._client_components_css_work__tiles {
      justify-content: flex-start;
      padding-left: 0px;
   } 
   ._client_components_css_work__content {
      display: flex;
      margin-top: 30px;
      width: 100%;
   }
   ._client_components_css_work__descr {
      min-width: 400px;
      margin-right: 30px;
   }
   ._client_components_css_work__secondImage {
      max-height: 300px;
   }
}
@media screen and (min-width:   1080px) {
	._client_components_css_work__myWorkProject, ._client_components_css_work__backButton {
      margin-left: -100px
   }
   ._client_components_css_work__tiles {
      max-width: 100%;
   }
   
   ._client_components_css_work__project {
      max-width: 100%;
      margin-top: -100px;
   }

   ._client_components_css_work__descr {
      max-width: 500px
   }

}
._client_components_css_nav__hide {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

._client_components_css_nav__nav {
    margin-left: 10px;
	height: 70px;
	max-height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
	-webkit-animation-name: _client_components_css_nav__fadeIn;
    -webkit-animation-duration: 1s;
 	animation-name: _client_components_css_nav__fadeIn;
  	animation-duration: 1s;
  	visibility: visible;
  	opacity: 1;
}

._client_components_css_nav__nav a {
	margin: 4px;
	padding: 4px;
	transition: letter-spacing 0.2s linear;
	letter-spacing: .2em;
};

._client_components_css_nav__nav a:hover {
	letter-spacing: .2em;
};

@-webkit-keyframes _client_components_css_nav__fadeIn {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@keyframes _client_components_css_nav__fadeIn {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@media screen and (min-width:   730px) {
    ._client_components_css_nav__nav {
        position: absolute;
        right: 10px;
        top: 10px;
        align-items: center;
    }
}
._client_components_css_glitch__glitch, ._client_components_css_glitch__glitchOnHover:hover {
	position: relative;
	color: white;
	animation: _client_components_css_glitch__glitch-skew 0.5s infinite linear alternate-reverse;
}

._client_components_css_glitch__glitchText:not(._client_components_css_glitch__glitchOnHover)::after,
._client_components_css_glitch__glitchOnHover._client_components_css_glitch__glitchText:hover::after,
._client_components_css_glitch__glitchShadow,
._client_components_css_glitch__glitchOnHover:hover + ._client_components_css_glitch__glitchShadow {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	left: -2px;
	text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
	filter: drop-shadow(-2px 0 0 #00fff9) filter(2px 2px 0 #ff00c1);
	animation: _client_components_css_glitch__glitch-anim2 1s infinite linear alternate-reverse;
}
@keyframes _client_components_css_glitch__glitch-anim {
	0% {
		clip: rect(30px, 9999px, 42px, 0);
		transform: skew(0.85deg);
	}
	5% {
		clip: rect(59px, 9999px, 21px, 0);
		transform: skew(0.34deg);
	}
	10% {
		clip: rect(99px, 9999px, 15px, 0);
		transform: skew(0.01deg);
	}
	15% {
		clip: rect(25px, 9999px, 61px, 0);
		transform: skew(0.97deg);
	}
	20% {
		clip: rect(35px, 9999px, 42px, 0);
		transform: skew(0.94deg);
	}
	25% {
		clip: rect(39px, 9999px, 62px, 0);
		transform: skew(0.31deg);
	}
	30% {
		clip: rect(62px, 9999px, 55px, 0);
		transform: skew(0.9deg);
	}
	35% {
		clip: rect(36px, 9999px, 31px, 0);
		transform: skew(0.13deg);
	}
	40% {
		clip: rect(27px, 9999px, 26px, 0);
		transform: skew(0.01deg);
	}
	45% {
		clip: rect(55px, 9999px, 9px, 0);
		transform: skew(0.5deg);
	}
	50% {
		clip: rect(69px, 9999px, 73px, 0);
		transform: skew(0.85deg);
	}
	55% {
		clip: rect(53px, 9999px, 89px, 0);
		transform: skew(0.15deg);
	}
	60% {
		clip: rect(20px, 9999px, 28px, 0);
		transform: skew(0.62deg);
	}
	65% {
		clip: rect(81px, 9999px, 28px, 0);
		transform: skew(0.1deg);
	}
	70% {
		clip: rect(54px, 9999px, 93px, 0);
		transform: skew(0.3deg);
	}
	75% {
		clip: rect(22px, 9999px, 6px, 0);
		transform: skew(0.84deg);
	}
	80% {
		clip: rect(23px, 9999px, 5px, 0);
		transform: skew(0.55deg);
	}
	85% {
		clip: rect(24px, 9999px, 76px, 0);
		transform: skew(0.68deg);
	}
	90% {
		clip: rect(3px, 9999px, 29px, 0);
		transform: skew(0.48deg);
	}
	95% {
		clip: rect(43px, 9999px, 95px, 0);
		transform: skew(0.37deg);
	}
	100% {
		clip: rect(58px, 9999px, 66px, 0);
		transform: skew(0.05deg);
	}
}
@keyframes _client_components_css_glitch__glitch-anim2 {
	0% {
		clip: rect(77px, 9999px, 16px, 0);
		transform: skew(0.4deg);
	}
	25% {
		clip: rect(15px, 9999px, 43px, 0);
		transform: skew(0.27deg);
	}
	30% {
		clip: rect(33px, 9999px, 11px, 0);
		transform: skew(0.84deg);
	}
	35% {
		clip: rect(50px, 9999px, 51px, 0);
		transform: skew(0.16deg);
	}
	40% {
		clip: rect(52px, 9999px, 11px, 0);
		transform: skew(0.21deg);
	}
	45% {
		clip: rect(39px, 9999px, 58px, 0);
		transform: skew(0.98deg);
	}
	50% {
		clip: rect(88px, 9999px, 42px, 0);
		transform: skew(0.42deg);
	}
	55% {
		clip: rect(98px, 9999px, 11px, 0);
		transform: skew(0.51deg);
	}
	60% {
		clip: rect(73px, 9999px, 73px, 0);
		transform: skew(0.81deg);
	}
	65% {
		clip: rect(82px, 9999px, 59px, 0);
		transform: skew(1deg);
	}
	70% {
		clip: rect(64px, 9999px, 84px, 0);
		transform: skew(0.94deg);
	}
	75% {
		clip: rect(41px, 9999px, 44px, 0);
		transform: skew(0.38deg);
	}

	80% {
		clip: rect(23px, 9999px, 35px, 0);
		transform: skew(0.54deg);
	}
	85% {
		clip: rect(20px, 9999px, 100px, 0);
		transform: skew(0.76deg);
	}
	90% {
		clip: rect(9px, 9999px, 96px, 0);
		transform: skew(0.64deg);
	}
	95% {
		clip: rect(29px, 9999px, 82px, 0);
		transform: skew(0.47deg);
	}
	100% {
		clip: rect(15px, 9999px, 94px, 0);
		transform: skew(0.76deg);
	}
}
@keyframes _client_components_css_glitch__glitch-skew {
	0% {
		transform: skew(2deg);
	}
	10% {
		transform: skew(4deg);
	}
	20% {
		transform: skew(4deg);
	}
	30% {
		transform: skew(-0.23deg);
	}
	40% {
		transform: skew(1deg);
	}
	50% {
		transform: skew(1deg);
	}
	60% {
		transform: skew(-1deg);
	}
	70% {
		transform: skew(-0.54deg);
	}
	80% {
		transform: skew(-0.33deg);
	}
	90% {
		transform: skew(-0.44deg);
	}
	100% {
		transform: skew(-0.1deg);
	}
}
._client_components_css_projectLinks__projectLinks {
	text-align: right;
	margin-bottom: 10px;
	min-height: 30px;
	color: white;
    max-height: 100px;
}
._client_components_css_projectLinks__projectLink {
	display: inline-block;
   opacity: 0.7;
	text-shadow: 0px 0px 4px #FFF; 
   float: right;
	clear: both;
	max-width: 200px;
 	margin: 0px;
}
@media screen and (min-width: 800px){
   ._client_components_css_projectLinks__projectLink {
	   text-shadow: none;
      opacity: 0.5;
	-ms-transition: opacity 0.2s ease-out; 
	transition: opacity 0.2s ease-out;
}
   ._client_components_css_projectLinks__projectLink:hover {
	   opacity: 1;
   }
}
._client_components_network_styles__container {
    position: absolute;
    left: 5px;
    right: 5px;
    min-height: 300px;
    max-height: 550px;
    max-width: 98%;
    margin: 20px 0px;
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 30px;
}
._client_components_network_styles__network {
    height: 100%;
    max-width: 100%;
    margin: 0px auto;
    position: relative;
    z-index: 1;
}
._client_components_network_styles__modeSelector {
    height: auto;
    width: 200px;
    position: absolute;
    z-index: 2;
    top: 5px;
    left: 0px;
}
._client_components_network_styles__companyProfile {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
    padding: 20px 5px;
    overflow: hidden;
    width: 50%;
    max-width: 0px;
    opacity: 0;
    transition: max-width 0.3s ease-in, opacity 0.35s ease-in;
    height: 100%;
    color: #000;
}

._client_components_network_styles__companyProfile._client_components_network_styles__active {
    max-width: 350px;
    opacity: 1;
}

._client_components_network_companyProfile__container {
     background: linear-gradient(
        to right, 
        rgba(255,255,255,0.7), 
        rgba(255,255,255,1)
    ); 
    width: 100%;
    height: 100%;
}
._client_components_network_companyProfile__container h2, 
._client_components_network_companyProfile__container h3, 
._client_components_network_companyProfile__container a, 
._client_components_network_companyProfile__container p {
    color: #000;
}
._client_components_network_companyProfile__top {
    height: 100px;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
}

._client_components_network_companyProfile__content {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    overflow-wrap: break-word;
    max-width: 60%;
    min-width: 100px;
}

._client_components_network_companyProfile__top ._client_components_network_companyProfile__logo {
    align-self: center;
    display: block;
    max-width: 80px;
    height: auto;
    width: auto;
    margin: 5px auto;
}
._client_components_network_companyProfile__top ._client_components_network_companyProfile__link {
    font-size: 0.8em;
    height: 30px;
}
._client_components_network_companyProfile__separator {
    height: 1px;
    background: #545454;
    box-shadow: 0px 0px 2px #545454;
    margin: 20px 0px;
}
._client_components_network_companyProfile__parentsContaner, ._client_components_network_companyProfile__childrenContainer {
    padding: 10px;
}
._client_components_network_companyProfile__parentsContainer h3, ._client_components_network_companyProfile__childrenContainer h3 {
     text-align: left;
    margin: 0px 0px 10px;
}
._client_components_network_companyProfile__parentsContainer {
    height: 70px;
}

._client_components_network_modeSelector__container {
    height: 100%;
    width: 100%;
    height: 20px;
    display: flex;
    padding: 0px 5px;
}
._client_components_network_modeSelector__container p {
    margin: 2px 2px 2px 0px;
    color: #000;
}
._client_components_network_modeSelector__container a {
    height: 1.4em;
    padding: 0px 5px;
    margin: 0px 5px;
    background: #000;
    transition: filter 0.2s ease-out;
}
._client_components_network_modeSelector__container a:hover {
    filter: invert(100%)
}
._client_components_network_search__container {
    padding-top: 10px;
    text-align: left;
    width: 100%;
    max-width: 200px;
}
._client_components_network_search__container ._client_components_network_search__input {
    margin: 2px 10px 2px 5px;
    width: 92%;
    color: #000;
}
._client_components_network_search__results {
    display: flex;
    flex-flow: column wrap;
    padding: 0px 5px;
    height: 0px;
    display: none;
    opacity: 0;
    transition: opacity 0.15s ease-in, height 0.3s ease-out;
}
._client_components_network_search__results._client_components_network_search__show {
    display: flex;
    height: 100%;
    opacity: 1;
}
._client_components_network_search__results a {
    height: auto;
    padding: 0px 5px;
    margin: 2px;
    background: #000;
    transition: filter 0.2s ease-out;
}
._client_components_network_companyList__container {
    margin: 0px;
    max-width: 95%;
    max-height: 300px;
    overflow-y: scroll;
}
._client_components_network_companyList__child {
    margin: 2px 5px 2px 20px;
    display: flex;
    background: #000;
    border-radius: 2px;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 40px;
    transition: background 0.2s ease-in;
    overflow: hidden;
}
._client_components_network_companyList__child p {
    color: #FFF;
    transition: color 0.2s ease-in;
}
._client_components_network_companyList__child:hover, ._client_components_network_companyList__child._client_components_network_companyList__active {
    background: #eee;
    color: #000;
}
._client_components_network_companyList__child:hover p {
    color: #000;
}

._client_components_network_companyList__child ._client_components_network_companyList__logo {
    background: #FFF;
    margin: 2px 5px 2px;
    overflow: hidden;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
._client_components_network_companyList__logo img {
    height: 20px;
    width: auto;
}
