._client_components_css_app__logo{
	left: 30%;
	width: 15%;
	top: 5px;
	width: 150px;
	position: absolute;
	opacity: 1;
	margin-bottom: 0px;
}._client_components_css_human__hide {
	opacity: 0;
	visibility: hidden;
}
._client_components_css_human__headHuman {
	text-align: left;
}
._client_components_css_human__logo{
	left: 30%;
	width: 15%;
	top: 5px;
	width: 150px;
	position: fixed;
	opacity: 1;
	margin-bottom: 0px;
	z-index: -1;
}
._client_components_css_human__logo{
	left: 20px;
	transition: 1s ease-in-out;
}
._client_components_css_human__head { 
	position: fixed;
	width: 100%;
	top: 20px;
	-webkit-animation-delay: 0s;
    animation-delay: 0s;
	-webkit-animation-name: _client_components_css_human__fadeIn;
    -webkit-animation-duration: 2s;
 	animation-name: _client_components_css_human__fadeIn;
  	animation-duration: 2s;
  	opacity: 1 !important;
}
._client_components_css_human__head h1 {
	margin-left: 170px;
	max-width: 300px;
}

._client_components_css_human__center {
	margin-top: 200px;
	margin-bottom: 50px;
	margin-right: 10px;
	height: auto;
	padding: none;
	-webkit-animation-name: _client_components_css_human__fadeIn;
    -webkit-animation-duration: 1s;
 	animation-name: _client_components_css_human__fadeIn;
  	animation-duration: 1s;
  	visibility: visible;
  	opacity: 1;
}

@-webkit-keyframes _client_components_css_human__fadeIn { 
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@keyframes _client_components_css_human__fadeIn {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@media screen and (min-width: 500px){
	._client_components_css_human__center {
		margin-top: 270px;
		margin-left: 30%;
		margin-bottom: 50px;
		width: 50%;
	}
}._client_components_css_landing__landing {
	text-align: center;
}

._client_components_css_landing__logo {
	width: 200px;
	transition: 1s ease-in-out;
}
._client_components_css_landing__logoCenter{
	width: 200px;
}
._client_components_css_landing__title {
	margin-top: 150px;
}
._client_components_css_landing__bgLeft{
	width: 100%;
	height: 80%;
	background: black;
	position: absolute;
	opacity: 0.1;
	z-index: -1;
}
._client_components_css_landing__bgRight{
	width: 100%;
	height: 80%;
	left: -20%;
	position: absolute;
	background: #e0ffc7 url(./img/skate.jpg) no-repeat 20%;  
	opacity: 0.1;
	z-index: -1;
}

._client_components_css_landing__nav {
	margin-top: 50px;

}
._client_components_css_landing__nav a {
	padding: 10px 20px;
	max-width: 500px;
	display: inline-block;
}
._client_components_css_landing__socialButtons {
	margin-top: 50px;
	height: 50px;
	display: inline-block;
	min-width: 200px;
	max-width: 400px;
}
._client_components_css_landing__socialButtons a {
	height: 100px;
	margin: 5px 5%;
	opacity: 0.5;
}
._client_components_css_landing__socialButtons a:hover {
	opacity: 1;
	-ms-transition: all 0.2s ease-out; 
	transition: all 0.2s ease-out
}

@media screen and (min-width: 500px) {
	._client_components_css_landing__title {
		margin-top: 0px;
	}
	._client_components_css_landing__nav a {
		min-width: 200px;
	}
	._client_components_css_landing__socialButtons {
		min-width: 400px;
		max-width: 600px;
	}
}._client_components_css_code__monotype {
	font-family: 'Roboto Mono', monospace;
	color: white;
	background-color: black;
}
._client_components_css_code__monotype a {
	color: white;
	text-decoration: none;
}
._client_components_css_code__indent1 {
margin-left: 5%;
}
._client_components_css_code__indent2 {
margin-left: 10%;
}
._client_components_css_code__socialButtons {
	width: 100%;
	max-width: ;
}
._client_components_css_code__socialButtons > a {
	margin: 5%;
}
._client_components_css_code__socialButtons > a > svg {
	viewBox: 0 0 60 60;
}@-webkit-keyframes _client_components_css_who__fadeIn { 
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@keyframes _client_components_css_who__fadeIn {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}
._client_components_css_who__center {
	margin-top: 200px;
	margin-bottom: 50px;
	margin-right: 10px;
	height: auto;
	padding: none;
	-webkit-animation-name: _client_components_css_who__fadeIn;
    -webkit-animation-duration: 1s;
 	animation-name: _client_components_css_who__fadeIn;
  	animation-duration: 1s;
  	visibility: visible;
  	opacity: 1;
}
._client_components_css_who__who h2 {
	margin: 0px;
	margin-left: 100px;
	opacity: 0;
}

._client_components_css_who__who h2 {
	margin-left: 0px;
	opacity: 1;
	-ms-transition: all 3s ease-out;  /* IE10 */
    transition: all 3s ease-out;  
}
._client_components_css_who__whoCol{
	display: inline-block;
	text-align: box;
	width: 30%;
	max-width: 200px;
	padding: 0 5% 0;
	min-width: 200px;
}
._client_components_css_who__profileImg {
	height: 150px;
	width: 150px;
	opacity: 0.5;
	top: 25%;
	right: 30%;
	z-index: -1;
	position: absolute;
	background: #e0ffc7 url(./img/cam.jpg) no-repeat;
	background-size: cover;
}
._client_components_css_who__socialButtons {
	max-width
	color: white;
	text-align: left;
	margin-top: 20px;
	height: 50px;
	text-align: center;
}
._client_components_css_who__socialButtons a {
	opacity: 0.5;
	height: 100px;
	margin: 5px 10px;
}
._client_components_css_who__socialButtons a:hover {
	opacity: 1;
	-ms-transition: all 0.2s ease-out; 
	transition: all 0.2s ease-out;
}

@media screen and (min-width: 500px){
	._client_components_css_who__center {
		margin-top: 300px;
		margin-left: 30%;
		margin-bottom: 50px;
		width: 50%;
	}
}._client_components_css_work__myWork {
	position: fixed;
	margin: -30px 0 0 50px;
	 -ms-transition: margin-left 0.3s ease-in-out; 
	transition: margin-left 0.3s ease-in-out;
}
._client_components_css_work__myWorkProject {
	position: fixed;
	-ms-transition: margin-left 0.3s ease-in-out; 
	transition: margin-left 0.3s ease-in-out;
	margin: -30px 0 0 0;
}
._client_components_css_work__bgTitle {
	opacity: 0;
}
._client_components_css_work__bgTitle {
	left: 10%;
	top: 20%;
	font-size: 300px;
	height: 0px;
	margin: 0px;
	position: fixed;
	opacity: 0.1;
	-ms-transition: opacity 0.3s ease-in-out; 
	transition: opacity 0.3s ease-in-out;
	z-index: -1;
}
._client_components_css_work__tiles {
	max-width: 300px;
	white-space: nowrap;
}
._client_components_css_work__tile {
	display: block;
	width: 100px;
	height: 50px;
    float: left;
	overflow: hidden;
    background: grey;
}
._client_components_css_work__tile img {
	overflow: none;
}
._client_components_css_work__project {
	/*margin-top: -50px;*/
}
._client_components_css_work__projectTitle {
	margin: 0px;
	text-align: right;
	font-size: 50px;
     -ms-transition: margin-right 0.3s ease-in-out; 
	transition: margin-right 0.3s ease-in-out;
}

._client_components_css_work__mainImage {
	height: 100%;
	width: 100%;
}
._client_components_css_work__backButton {
	position: fixed;
	margin-left: 10px;
	margin-top: 0px;
 -ms-transition: padding-left 0.3s ease-in-out; 
	transition: padding-left 0.3s ease-in-out;
}
._client_components_css_work__backButton span {
	opacity: 0;
	-ms-transition: opacity 0.4s ease-in-out; 
	transition: opacity 0.4s ease-in-out;
}

@media screen and (min-width:   500px) {
	._client_components_css_work__center {
		width: 50%;
		margin-top: 20%;
		margin-left: 30%;
	}
	._client_components_css_work__myWork {
		margin-left:  0px;
	}
	._client_components_css_work__myWorkProject {
		margin-left: -150px;
	}
	._client_components_css_work__tiles {
		margin-left: -50px;
		max-width: 1000px;;
	}
	._client_components_css_work__tile {
	  	width: 200px;
	    height: 150px;
	    -ms-transition: all 0.2s ease-in-out; 
		transition: all 0.2s ease-in-out;
	}
	._client_components_css_work__tile:hover {
		width: 250px;
		height: 150px;
	}
	._client_components_css_work__backButton {
		padding-left: 50px;
		margin-left: -140px;
	}
	._client_components_css_work__backButton:hover {
		padding-left: 0px;
	}

	._client_components_css_work__backButton:hover > span {
		opacity: 1;
		visibility: visible;
	}
}._client_components_css_nav__hide {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

._client_components_css_nav__nav {
  background: black;
	width: 100%;
	text-align: center;
	-webkit-animation-name: _client_components_css_nav__fadeIn;
    -webkit-animation-duration: 1s;
 	animation-name: _client_components_css_nav__fadeIn;
  	animation-duration: 1s;
  	visibility: visible;
  	opacity: 1;
}

._client_components_css_nav__nav a {
	min-width: 100px;
	margin: 20px;
	padding: 10px;
}

@-webkit-keyframes _client_components_css_nav__fadeIn { 
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@keyframes _client_components_css_nav__fadeIn {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@media screen and (min-width:   730px) {
  ._client_components_css_nav__nav {
    width: 300px;
    position: absolute;
    right: 40px;
    top: 35px;
  }
}._client_components_css_prompt__blink {
 animation: _client_components_css_prompt__blink-animation 1s steps(2, start) infinite;
  -webkit-animation: _client_components_css_prompt__blink-animation 1s steps(2, start) infinite;
}

@keyframes _client_components_css_prompt__blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes _client_components_css_prompt__blink-animation {
  to {
    visibility: hidden;
  }
}

._client_components_css_prompt__hide {
	visibility: hidden;
}

._client_components_css_prompt__hideInput {
	width: 0px;
	border: none;
}._client_components_css_projectLinks__projectLinks {
	text-align: right;
	margin-bottom: 10px;
	height: 50px;
	color: white;
}
._client_components_css_projectLinks__projectLink {
	display: inline-block;
	float: right;
	clear: both;
	max-width: 200px;
	opacity: 0.5;
	-ms-transition: opacity 0.2s ease-out; 
	transition: opacity 0.2s ease-out;
 	margin: 0px;
}
._client_components_css_projectLinks__projectLink:hover {
	opacity: 1;
}